<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Data Brand</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="300px">
        <v-btn slot="activator" color="primary" dark class="mb-2">Tambah</v-btn>
        <v-card>
          <v-card-title>
            <span class="title">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md12>
                  <v-text-field v-model="branditem.namabrand" label="Nama Brand"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save(formTitle)">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table :headers="headers" :items="brands" class="elevation-1">
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.namabrand }}</td>
        <td class=" layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item,props.item['.key'])">
            edit
          </v-icon>
          <v-icon small @click="deleteItem(props.item['.key'])">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary">Reset</v-btn>
      </template>
    </v-data-table>



    <!--loading-->
    <template>
      <div class="text-center">
        <v-dialog v-model="dialogloading" hide-overlay persistent width="300">
          <v-card color="primary" dark>
            <v-card-text>
              Mohon Tunggu
              <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </template>
    <!-- selesai Loading -->


    <!-- validasi delete-->

    <template>
      <v-layout justify-center>

        <v-dialog v-model="dialogdelete" max-width="290">
          <v-card>
            <v-card-title class="title">Hapus Data ?</v-card-title>
            <v-card-text>
              Anda yakin ingin menghapus data ini ?
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="green darken-1" text @click="dialogdelete = false">
                tidak
              </v-btn>
              <v-btn outline color="red darken-1" text @click="deletedata">
                ya
              </v-btn>
              
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>

    <!-- selesai delete -->







  </div>
</template>
<script>
  import {
    app,
    db,
    brand,
    iconbrand
  } from '../../db'
  export default {
    data: () => ({
      dialog: false,
      dialogloading: false,
      dialogdelete: false,
      itemss: [],
      key: null,
      headers: [{
          text: 'Nama Brand',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Actions',
          value: 'name',
          sortable: false
        }
      ],
      desserts: [],
      editedIndex: -1,
      branditem: {
        namabrand: '',
      }
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Tambah Brand' : 'Edit Item'
      }
    },

    watch: {
      dialog(val) {
        val || this.close()
      }
    },



    methods: {
      clear(){
        this.branditem.namabrand="";
        this.key="";
      },
      editItem(item, key) {
        this.editedIndex = this.brands.indexOf(item)
        this.branditem = Object.assign({}, item)
        this.dialog = true
        this.key = key;
      },
    

      deleteItem(item) {
        this.dialogdelete=true;
        this.key=item;
      },
      deletedata(){
        brand.child(this.key).remove();
        this.dialogdelete=false;
      },
      close() {
        this.dialog = false
        this.clear();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save(x) {
        if (x == "Tambah Brand") {
          this.dialogloading = true;
          brand.push({
            namabrand: this.branditem.namabrand
          }).then((data) => {
            this.dialog = false
            this.dialogloading = false
          })


        } else if ('Edit Item') {
          brand.child(this.key).update({
            namabrand: this.branditem.namabrand
          });
        }
      }
    },

    mounted() {},

    firebase: {
      brands: brand
    }

  }

</script>
