<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Data Master Tutup Botol</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
        <v-btn @click="tambahdata" color="primary" dark class="mb-2">Tambah</v-btn>
      <v-dialog v-model="dialog" max-width="800px">
        <v-card>
          <v-card-title>
            <span class="title">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex sm6>
                  <v-layout wrap>
                    <v-flex xs9>
                      <v-text-field v-model="mastertutupbotolitem.stockkode" label="Stock Kode"></v-text-field>
                    </v-flex>
                    <v-flex xs9>
                      <v-text-field v-model="mastertutupbotolitem.itemname" label="Item Name"></v-text-field>
                    </v-flex>
                    <v-flex xs9>
                      <v-combobox   v-model="mastertutupbotolitem.brander" :items="brands" item-text="namabrandtutup"
                        item-value=".key" chips label="Brand"></v-combobox>
                    </v-flex>
                    <v-flex xs9>
                      <v-combobox v-model="mastertutupbotolitem.type" :items="types" item-text="namatypetutup" item-value=".key" chips label="Type">
                      </v-combobox>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex sm6>
                  <v-flex xs9>
                     <v-text-field v-model="mastertutupbotolitem.warna" label="Warna"></v-text-field>
                  </v-flex>
                  <v-flex xs9>
                    <v-text-field v-model="mastertutupbotolitem.remark" label="Remark"></v-text-field>
                  </v-flex>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save(formTitle)">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table :headers="headers" :items="master" class="elevation-1">
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.stockkode }}</td>
        <td class="text-xs-left">{{ props.item.itemname  }}</td>
        <td class="text-xs-left">{{ props.item.namabrandtutup }}</td>
        <td class="text-xs-left">{{ props.item.typenama }}</td>
        <td class="text-xs-left">{{ props.item.remark }}</td>
        <td class="text-xs-left">{{ props.item.warna }}</td>
        <td class=" layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item,props.item['.key'])">
            edit
          </v-icon>
          <v-icon small @click="deleteItem(props.item['.key'])">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary">Reset</v-btn>
      </template>
    </v-data-table>



    <!--loading-->
    <template>
      <div class="text-center">
        <v-dialog v-model="dialogloading" hide-overlay persistent width="300">
          <v-card color="primary" dark>
            <v-card-text>
              Mohon Tunggu
              <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </template>
    <!-- selesai Loading -->


    <!-- validasi delete-->

    <template>
      <v-layout justify-center>

        <v-dialog v-model="dialogdelete" max-width="290">
          <v-card>
            <v-card-title class="title">Hapus Data ?</v-card-title>
            <v-card-text>
              Anda yakin ingin menghapus data ini ?
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="green darken-1" text @click="dialogdelete = false">
                tidak
              </v-btn>
              <v-btn outline color="red darken-1" text @click="deletedata">
                ya
              </v-btn>

            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>

    <!-- selesai delete -->





  </div>
</template>
<script>
  import {
    app,
    db,
    mastertutupbotol,
    brandtutup,
    typetutup,
    iconmastertutupbotol
  } from '../../db'
  export default {
    data: () => ({
      dialog: false,
      selectedItem: null ,
      dialogloading: false,
      dialogdelete: false,
      itemss: [],
      key: null,
      headers: [{
          text: 'Stock Kode',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Item Name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Brand',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Type',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Remark',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Warna',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Actions',
          value: 'name',
          sortable: false
        }
      ],
      desserts: [],
      editedIndex: -1,
      mastertutupbotolitem: {
        stockkode: '',
        itemname: '',
        brander: '',
        warna: '',
        type: '',
        remark: ''
      }
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Tambah Master Tutup Botol' : 'Edit Item'
      },
       master(){
           var data=[];
           this.mastertutupbotols.forEach(master => {
                var masternama;
                var typenama;

                this.brands.forEach(bra => {
                    if(bra['.key']==master.brander){
                        masternama=bra.namabrandtutup;
                    }              
                });
                 this.types.forEach(type => {
                    if(type['.key']==master.type){
                        typenama=type.namatypetutup;
                    }              
                });

             data.push({stockkode:master.stockkode,
                        brander:master.brander,
                        warna: master.warna,
                        itemname: master.itemname,
                        remark:master.remark,
                        type:master.type,
                        brander:master.brander,
                        namabrandtutup:masternama,
                        typenama:typenama,
                        ".key":master[".key"]

            }); 
           });
           


return data;
        }

    },

    watch: {
    
    },



    methods: {
      tambahdata(){
        this.clear();
        this.editedIndex=-1;
        this.dialog=true;
      },     
      clear() {
          this.mastertutupbotolitem.brander="";
          this.mastertutupbotolitem.warna="";
          this.mastertutupbotolitem.type="";
          this.mastertutupbotolitem.remark="";
          this.mastertutupbotolitem.stockkode="";
          this.mastertutupbotolitem.itemname="";
      },
      editItem(item, key) {
      
        this.mastertutupbotolitem = Object.assign({}, item)
        this.brands.forEach(data=>{
            if(data[".key"]==item.brander){
                this.mastertutupbotolitem.brander=data;
            }
        });
          this.types.forEach(data=>{
            if(data[".key"]==item.type){
                this.mastertutupbotolitem.type=data;
            }
        });
        this.key = key;
      this.dialog=true;
      this.editedIndex=1;

},


      deleteItem(item) {

        this.dialogdelete = true;
        this.key = item;
      },
      deletedata() {
        mastertutupbotol.child(this.key).remove();
        this.dialogdelete = false;
      },
      close() {
        this.dialog = false
        this.clear();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save(x) {
       
        if (x == "Tambah Master Tutup Botol") {
          this.dialogloading = true;
          mastertutupbotol.push({
            stockkode: this.mastertutupbotolitem.stockkode,
            itemname: this.mastertutupbotolitem.itemname,
            brander: this.mastertutupbotolitem.brander[".key"],
            warna: this.mastertutupbotolitem.warna,
            type: this.mastertutupbotolitem.type[".key"],
            remark: this.mastertutupbotolitem.remark
          }).then((data) => {
            this.dialog = false
            this.dialogloading = false
          });


        } else if (x=='Edit Item') {   
             
          this.dialogloading = true;
          mastertutupbotol.child(this.key).update({
            stockkode: this.mastertutupbotolitem.stockkode,
            itemname: this.mastertutupbotolitem.itemname,
            brander: this.mastertutupbotolitem.brander[".key"],
            warna: this.mastertutupbotolitem.warna,
            type: this.mastertutupbotolitem.type[".key"],
            remark: this.mastertutupbotolitem.remark
          }).then((data) => {
            this.dialog = false
            this.dialogloading = false
          });
          
        }
      
      }
      
    },

    mounted() {},

    firebase: {
      mastertutupbotols: mastertutupbotol,
      brands: brandtutup,
      types: typetutup
    }

  }

</script>
