<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Data Type</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="300px">
        <v-btn slot="activator" color="primary" dark class="mb-2">Tambah</v-btn>
        <v-card>
          <v-card-title>
            <span class="title">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md12>
                  <v-text-field v-model="typeitem.namatype" label="Nama Type"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save(formTitle)">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table :headers="headers" :items="types" class="elevation-1">
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.namatype }}</td>
        <td class=" layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item,props.item['.key'])">
            edit
          </v-icon>
          <v-icon small @click="deleteItem(props.item['.key'])">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary">Reset</v-btn>
      </template>
    </v-data-table>



    <!--loading-->
    <template>
      <div class="text-center">
        <v-dialog v-model="dialogloading" hide-overlay persistent width="300">
          <v-card color="primary" dark>
            <v-card-text>
              Mohon Tunggu
              <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </template>
    <!-- selesai Loading -->


    <!-- validasi delete-->

    <template>
      <v-layout justify-center>

        <v-dialog v-model="dialogdelete" max-width="290">
          <v-card>
            <v-card-title class="title">Hapus Data ?</v-card-title>
            <v-card-text>
              Anda yakin ingin menghapus data ini ?
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="green darken-1" text @click="dialogdelete = false">
                tidak
              </v-btn>
              <v-btn outline color="red darken-1" text @click="deletedata">
                ya
              </v-btn>
              
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>

    <!-- selesai delete -->







  </div>
</template>
<script>
  import {
    app,
    db,
    type,
    icontype
  } from '../../db'
  export default {
    data: () => ({
      dialog: false,
      dialogloading: false,
      dialogdelete: false,
      itemss: [],
      key: null,
      headers: [{
          text: 'Nama Type',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Actions',
          value: 'name',
          sortable: false
        }
      ],
      desserts: [],
      editedIndex: -1,
      typeitem: {
        namatype: '',
      }
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Tambah Type' : 'Edit Item'
      }
    },

    watch: {
      dialog(val) {
        val || this.close()
      }
    },



    methods: {
      clear(){
        this.typeitem.namatype="";
        this.key="";
      },
      editItem(item, key) {
        this.editedIndex = this.types.indexOf(item)
        this.typeitem = Object.assign({}, item)
        this.dialog = true
        this.key = key;
      },
    

      deleteItem(item) {
        this.dialogdelete=true;
        this.key=item;
      },
      deletedata(){
        type.child(this.key).remove();
        this.dialogdelete=false;
      },
      close() {
        this.dialog = false
        this.clear();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save(x) {
        if (x == "Tambah Type") {
          this.dialogloading = true;
          type.push({
            namatype: this.typeitem.namatype
          }).then((data) => {
            this.dialog = false
            this.dialogloading = false
          })


        } else if ('Edit Item') {
          type.child(this.key).update({
            namatype: this.typeitem.namatype
          });
        }
      }
    },

    mounted() {},

    firebase: {
      types: type
    }

  }

</script>
