<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Data Pembelian Botol</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="600px">
        <v-btn slot="activator" color="primary" dark class="mb-2">Tambah</v-btn>
        <v-card>
          <v-card-title>
            <span class="title">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex sm6>
                    <v-layout wrap>
                        <v-flex xs9>
                          <v-text-field v-model="pembelianitem.tanggal" label="Tanggal"></v-text-field>
                        </v-flex>     
                         <v-flex xs9>
                          <v-text-field v-model="pembelianitem.no_trans" label="No. Trans"></v-text-field>
                        </v-flex>     
                        <v-flex xs9>
                          <v-text-field v-model="pembelianitem.po" label="PO"></v-text-field>
                        </v-flex>     
                        <v-flex xs9>
                          <v-text-field v-model="pembelianitem.idsupplier" label="Supplier"></v-text-field>
                        </v-flex>

                    </v-layout>
                </v-flex>
                <v-flex sm6>
                    <v-layout wrap>
                        <v-flex xs9>
                          <v-text-field v-model="pembelianitem.idbotol" label="Botol"></v-text-field>
                        </v-flex>     
                         <v-flex xs9>
                          <v-text-field v-model="pembelianitem.box" label="Box"></v-text-field>
                        </v-flex>     
                        <v-flex xs9>
                          <v-text-field v-model="pembelianitem.disc" label="No Telepon"></v-text-field>
                        </v-flex>     
                        <v-flex xs9>
                          <v-text-field v-model="pembelianitem.pcs" label="Pcs"></v-text-field>
                        </v-flex>
                        <v-flex xs9>
                          <v-text-field v-model="pembelianitem.qty" label="Qty"></v-text-field>
                        </v-flex>
                          <v-flex xs9>
                          <v-text-field v-model="pembelianitem.remark" label="Remark"></v-text-field>
                        </v-flex>
                        <v-flex xs9>
                          <v-text-field v-model="pembelianitem.hargabeli" label="Harga Beli"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save(formTitle)">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table :headers="headers" :items="pembelianbotols" class="elevation-1">
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.tanggal }}</td>
        <td class="text-xs-left">{{ props.item.no_trans }}</td>
        <td class="text-xs-left">{{ props.item.po }}</td>
        <td class="text-xs-left">{{ props.item.idsupplier }}</td>
        <td class="text-xs-left">{{ props.item.idbotol }}</td>
        <td class="text-xs-left">{{ props.item.box }}</td>
        <td class="text-xs-left">{{ props.item.disc }}</td>
        <td class="text-xs-left">{{ props.item.pcs }}</td>
        <td class="text-xs-left">{{ props.item.qty }}</td>
        <td class="text-xs-left">{{ props.item.remark }}</td>
        <td class="text-xs-left">{{ props.item.hargabeli }}</td>
        <td class=" layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item,props.item['.key'])">
            edit
          </v-icon>
          <v-icon small @click="deleteItem(props.item['.key'])">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary">Reset</v-btn>
      </template>
    </v-data-table>



    <!--loading-->
    <template>
      <div class="text-center">
        <v-dialog v-model="dialogloading" hide-overlay persistent width="300">
          <v-card color="primary" dark>
            <v-card-text>
              Mohon Tunggu
              <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </template>
    <!-- selesai Loading -->


    <!-- validasi delete-->

    <template>
      <v-layout justify-center>

        <v-dialog v-model="dialogdelete" max-width="290">
          <v-card>
            <v-card-title class="title">Hapus Data ?</v-card-title>
            <v-card-text>
              Anda yakin ingin menghapus data ini ?
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="green darken-1" text @click="dialogdelete = false">
                tidak
              </v-btn>
              <v-btn outline color="red darken-1" text @click="deletedata">
                ya
              </v-btn>
              
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>

    <!-- selesai delete -->







  </div>
</template>
<script>
  import {
    app,
    db,
    pembelianbotol
  } from '../../db'
  export default {
    data: () => ({
      dialog: false,
      dialogloading: false,
      dialogdelete: false,
      itemss: [],
      key: null,
      headers: [
        {
          text: 'Tanggal',
          align: 'left',
          sortable: false,
          value: 'tanggal'
        },
        {
          text: 'No Trans',
          align: 'left',
          sortable: false,
          value: 'no_trans'
        },
        {
          text: 'PO',
          align: 'left',
          sortable: false,
          value: 'po'
        },
        {
          text: 'Supplier',
          align: 'left',
          sortable: false,
          value: 'idsupplier'
        },
        {
          text: 'Bottle Name/ Item Name',
          align: 'left',
          sortable: false,
          value: 'idbotol'
        },
        {
          text: 'Box',
          align: 'left',
          sortable: false,
          value: 'box'
        },
        {
          text: 'Disc',
          align: 'left',
          sortable: false,
          value: 'disc'
        },
        {
          text: 'Pcs/Box',
          align: 'left',
          sortable: false,
          value: 'pcs'
        },
        {
          text: 'Qty',
          align: 'left',
          sortable: false,
          value: 'qty'
        },
          {
          text: 'Remark',
          align: 'left',
          sortable: false,
          value: 'remark'
        },
          {
          text: 'Harga Beli',
          align: 'left',
          sortable: false,
          value: 'hargabeli'
        },
        {
          text: 'Actions',
          value: 'name',
          sortable: false
        }
      ],
      desserts: [],
      editedIndex: -1,
      pembelianitem: {
        tanggal: '',
        no_trans: '',
        po: '',
        idsupplier: '',
        idbotol: '',
        box:'',
        Disc:'',
        pcs:'',
        qty:'',
        remark:'',
        hargabeli:''
        }
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Tambah Pembelian Botol' : 'Edit Item'
      }
    },

    watch: {
      dialog(val) {
        val || this.close()
      }
    },



    methods: {
      clear(){
        this.pembelianitem.tanggal="";
        this.pembelianitem.no_trans= '';
        this.pembelianitem.po= '';
        this.pembelianitem.idsupplier= '';
        this.pembelianitem.idbotol= '';
        this.pembelianitem.box='';
        this.pembelianitem.disc='';
        this.pembelianitem.pcs='';
        this.pembelianitem.qty='';
        this.pembelianitem.remark='';
        this.pembelianitem.hargabeli='';
        this.key="";
      },
      editItem(item, key) {
        this.editedIndex = this.pembelianbotols.indexOf(item)
        this.pembelianitem = Object.assign({}, item)
        this.dialog = true
        this.key = key;
      },
    

      deleteItem(item) {
        this.dialogdelete=true;
        this.key=item;
      },
      deletedata(){
        pembelianbotol.child(this.key).remove();
        this.dialogdelete=false;
      },
      close() {
        this.dialog = false
        this.clear();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save(x) {
        if (x == "Tambah Pembelian Botol") {
          this.dialogloading = true;
          pembelianbotol.push({
            tanggal: this.pembelianitem.tanggal,
            no_trans:this.pembelianitem.no_trans,
            po:this.pembelianitem.po,
            idsupplier:this.pembelianitem.idsupplier,
            idbotol:this.pembelianitem.idbotol,
            box:this.pembelianitem.box,
            disc:this.pembelianitem.disc,
            pcs:this.pembelianitem.pcs,
            qty:this.pembelianitem.qty,
            remark:this.pembelianitem.remark,
            hargabeli:this.pembelianitem.hargabeli     
     
    
                   
          }).then((data) => {
            this.dialog = false
            this.dialogloading = false
          })


        } else if ('Edit Item') {
          pembelianbotol.child(this.key).update({
            tanggal: this.pembelianitem.tanggal,
            no_trans:this.pembelianitem.no_trans,
            po:this.pembelianitem.po,
            idsupplier:this.pembelianitem.idsupplier,
            idbotol:this.pembelianitem.idbotol,
            box:this.pembelianitem.box,
            disc:this.pembelianitem.disc,
            pcs:this.pembelianitem.pcs,
            qty:this.pembelianitem.qty,
            remark:this.pembelianitem.remark,
            hargabeli:this.pembelianitem.hargabeli     
     
            
            });
        }
      }
    },

    mounted() {},

    firebase: {
      pembelianbotols: pembelianbotol
    }

  }

</script>
