<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Data Supplier</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="600px">
        <v-btn slot="activator" color="primary" dark class="mb-2">Tambah</v-btn>
        <v-card>
          <v-card-title>
            <span class="title">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex sm6>
                    <v-layout wrap>
                        <v-flex xs9>
                          <v-text-field v-model="supplieritem.namasupplier" label="Nama Supplier"></v-text-field>
                        </v-flex>     
                         <v-flex xs9>
                          <v-text-field v-model="supplieritem.lokasi" label="Lokasi"></v-text-field>
                        </v-flex>     
                        <v-flex xs9>
                          <v-text-field v-model="supplieritem.alamatlengkap" label="Alamat Lengkap"></v-text-field>
                        </v-flex>     
                        <v-flex xs9>
                          <v-text-field v-model="supplieritem.kota" label="Kota"></v-text-field>
                        </v-flex>

                    </v-layout>
                </v-flex>
                <v-flex sm6>
                    <v-layout wrap>
                        <v-flex xs9>
                          <v-text-field v-model="supplieritem.negara" label="Negara"></v-text-field>
                        </v-flex>     
                         <v-flex xs9>
                          <v-text-field v-model="supplieritem.kodepos" label="Kode Pos"></v-text-field>
                        </v-flex>     
                        <v-flex xs9>
                          <v-text-field v-model="supplieritem.notelepon" label="No Telepon"></v-text-field>
                        </v-flex>     
                        <v-flex xs9>
                          <v-text-field v-model="supplieritem.fax" label="Fax"></v-text-field>
                        </v-flex>
                        <v-flex xs9>
                          <v-text-field v-model="supplieritem.email" label="Email"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save(formTitle)">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table :headers="headers" :items="suppliers" class="elevation-1">
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.namasupplier }}</td>
        <td class="text-xs-left">{{ props.item.lokasi }}</td>
        <td class="text-xs-left">{{ props.item.alamatlengkap }}</td>
        <td class="text-xs-left">{{ props.item.kota }}</td>
        <td class="text-xs-left">{{ props.item.negara }}</td>
        <td class="text-xs-left">{{ props.item.kodepos }}</td>
        <td class="text-xs-left">{{ props.item.notelepon }}</td>
        <td class="text-xs-left">{{ props.item.fax }}</td>
        <td class="text-xs-left">{{ props.item.email }}</td>
        <td class=" layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item,props.item['.key'])">
            edit
          </v-icon>
          <v-icon small @click="deleteItem(props.item['.key'])">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary">Reset</v-btn>
      </template>
    </v-data-table>



    <!--loading-->
    <template>
      <div class="text-center">
        <v-dialog v-model="dialogloading" hide-overlay persistent width="300">
          <v-card color="primary" dark>
            <v-card-text>
              Mohon Tunggu
              <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </template>
    <!-- selesai Loading -->


    <!-- validasi delete-->

    <template>
      <v-layout justify-center>

        <v-dialog v-model="dialogdelete" max-width="290">
          <v-card>
            <v-card-title class="title">Hapus Data ?</v-card-title>
            <v-card-text>
              Anda yakin ingin menghapus data ini ?
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="green darken-1" text @click="dialogdelete = false">
                tidak
              </v-btn>
              <v-btn outline color="red darken-1" text @click="deletedata">
                ya
              </v-btn>
              
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>

    <!-- selesai delete -->







  </div>
</template>
<script>
  import {
    app,
    db,
    supplier,
    iconsupplier
  } from '../../db'
  export default {
    data: () => ({
      dialog: false,
      dialogloading: false,
      dialogdelete: false,
      itemss: [],
      key: null,
      headers: [
        {
          text: 'Nama Supplier',
          align: 'left',
          sortable: false,
          value: 'namasupplier'
        },
        {
          text: 'Lokasi',
          align: 'left',
          sortable: false,
          value: 'lokasi'
        },
        {
          text: 'Alamat Lengkap',
          align: 'left',
          sortable: false,
          value: 'alamatlengkap'
        },
        {
          text: 'Kota',
          align: 'left',
          sortable: false,
          value: 'kota'
        },
        {
          text: 'negara',
          align: 'left',
          sortable: false,
          value: 'negara'
        },
        {
          text: 'Kode Pos',
          align: 'left',
          sortable: false,
          value: 'kodepos'
        },
        {
          text: 'No Telepon',
          align: 'left',
          sortable: false,
          value: 'notelepon'
        },
        {
          text: 'Fax',
          align: 'left',
          sortable: false,
          value: 'fax'
        },
        {
          text: 'Email',
          align: 'left',
          sortable: false,
          value: 'email'
        },
        {
          text: 'Actions',
          value: 'name',
          sortable: false
        }
      ],
      desserts: [],
      editedIndex: -1,
      supplieritem: {
        namasupplier: '',
        lokasi: '',
        alamatlengkap: '',
        kota: '',
        negara: '',
        kodepos:'',
        notelepon:'',
        fax:'',
        email:''
        }
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Tambah Supplier' : 'Edit Item'
      }
    },

    watch: {
      dialog(val) {
        val || this.close()
      }
    },



    methods: {
      clear(){
        this.supplieritem.namasupplier="";
        this.supplieritem.lokasi= '';
        this.supplieritem.alamatlengkap= '';
        this.supplieritem.kota= '';
        this.supplieritem.negara= '';
        this.supplieritem.kodepos='';
        this.supplieritem.notelepon='';
        this.supplieritem.fax='';
        this.supplieritem.email='';
        this.key="";
      },
      editItem(item, key) {
        this.editedIndex = this.suppliers.indexOf(item)
        this.supplieritem = Object.assign({}, item)
        this.dialog = true
        this.key = key;
      },
    

      deleteItem(item) {
        this.dialogdelete=true;
        this.key=item;
      },
      deletedata(){
        supplier.child(this.key).remove();
        this.dialogdelete=false;
      },
      close() {
        this.dialog = false
        this.clear();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save(x) {
        if (x == "Tambah Supplier") {
          this.dialogloading = true;
          supplier.push({
            namasupplier: this.supplieritem.namasupplier,
            lokasi:this.supplieritem.lokasi,
            alamatlengkap:this.supplieritem.alamatlengkap,
            kota:this.supplieritem.kota,
            negara:this.supplieritem.negara,
            kodepos:this.supplieritem.kodepos,
            notelepon:this.supplieritem.notelepon,
            fax:this.supplieritem.fax,
            email:this.supplieritem.email            
          }).then((data) => {
            this.dialog = false
            this.dialogloading = false
          })


        } else if ('Edit Item') {
          supplier.child(this.key).update({
            namasupplier: this.supplieritem.namasupplier,
            lokasi:this.supplieritem.lokasi,
            alamatlengkap:this.supplieritem.alamatlengkap,
            kota:this.supplieritem.kota,
            negara:this.supplieritem.negara,
            kodepos:this.supplieritem.kodepos,
            notelepon:this.supplieritem.notelepon,
            fax:this.supplieritem.fax,
            email:this.supplieritem.email          });
        }
      }
    },

    mounted() {},

    firebase: {
      suppliers: supplier
    }

  }

</script>
